<!--
<p><img src="<%= user.strava.details.profile %>"></p>
<p>ID: <%= user.strava.details.firstname %></p>
<p>Name: <%= user.strava.details.follower_count %></p>
<p>City: <%= user.strava.details.city %></p>
-->

<!-- FOR LATER 
	<script id="props" type="application/json">
    <%-props%>
</script>

-->

<div id="react-holder"><div><!--<%-markup%>--></div></div>